/* themes for e-h/exh */
.ehstyle {
    --bdca: #5c0d1199;
	--bdct: #806769;
	--bgct: #f2efdf;
    background-color: #edebdf;
    border: 1px solid #5c0d11;
}
.exstyle {
    --bdca: #f1f1f199;
	--bdct: #989898;
	--bgct: #4f535b;
    background-color: var(--bgct);
	border: 1px solid #f1f1f1;
}

.gl3m.glname,
.gl3c.glname {
    display: flex;
	justify-content: space-between;
}
	
/* tags icon */
.gl3m.glname > .tticon,
.gl3c.glname > .tticon,
.gl6t > .tticon {
	align-self: center;
	cursor: pointer;
	flex: 0 0 auto;
	height: 16px;
	margin-left: 0.75em;
	overflow: visible;
	position: relative;
	white-space: wrap;
	width: 16px;
	
	& > svg {
		color: inherit;
		display: inline;
		height: 100%;
		width: 100%;
		
		.fetched > &.icon-eye-slash,
		:not(.fetched) > &.icon-tags {
		{
			display: none;
		}
	}
	
	/* tags tooltip */
	& > .tagstt {
		cursor: auto;
		font-size: 9pt;
		inset: auto;
		max-width: 40vw;
		padding: 5px;
		position: absolute;
		visibility: hidden;
		width: max-content;
		z-index: 101;
		
		.fetched:hover > & {
			visibility: visible;
		}
		
		&.ttup {
			bottom: 50%;
		}
		
		&.ttdown {
			top: 50%;
		}
		
		&.ttleft {
			right: 50%;
		}
		
		&.ttright {
			left: 50%;
		}
		
		& span.stag {
			background: var(--bgct);
			border: 1px solid var(--bdct);
			border-radius: 5px;
			display: inline-block;
			font-weight: bold;
			margin: 0 2px 5px 2px;
			padding: 1px 4px;
			white-space: nowrap;
			word-break: keep-all;
		}
	}
}
	
/* option button and panel */
.searchnav > div:last-child {
	align-items: center;
	column-gap: 0.5em;
	display: flex;
	justify-content: flex-end;
	
	& > .ttoptb {
		cursor: pointer;
		height: 16px;
		position: relative;
		width: 16px;
		
		& > #ttopt {
			cursor: auto;
			font-size: 9pt;
			padding: 0.75em;
			position: absolute;
			right: 26px;
			text-align: left;
			top: -3px;
			visibility: hidden;
			width: max-content;
			z-index: 102;
		
			:hover > & {
				visibility: visible;
			}
			
			&::after {
				border-color: transparent;
				border-left-color: inherit;
				border-style: solid;
				border-width: 10px;
				content: "";
				left: 100%;
				position: absolute;
				top: 3px;
			}
			
			& > fieldset {
				margin-bottom: 0.5em;
				border-color: inherit;
				border-style: solid;
				border-width: 1px;
			}
			
			& input[type="checkbox"] {
				margin-right: 0.5em;
			}
			
			& > input[type="submit"] {
				display: block;
				margin: 1em auto 0;
			}
		}
	}
	
	& > select {
		width: fit-content;
	}
}
