/* themes for e-h/exh */
.ehstyle {
    --bdc: #5c0d11;
    --bdca: #5c0d1199;
    --bgc: #edebdf;
    background-color: var(--bgc);
    border: 1px solid var(--bdc);
}
.exstyle {
    --bdc: #f1f1f1;
    --bdca: #f1f1f199;
    --bgc: #4f535b;
    background-color: var(--bgc);
	border: 1px solid var(--bdc);
}

/* tags icon positioning */
.glname {
    display: flex;
	justify-content: space-between;
}
.svgicon {
    align-self: center;
    cursor: pointer;
    padding-left: 8px;
}
.gl3m > .svgicon {
	height: 20px;
	min-width: 20px;
}
.gl3c > .svgicon {
	height: 24px;
	min-width: 24px;
}
.gl6t > .svgicon {
	height: 16px;
	min-width: 16px;
}

/* tooltip positioning */
#tagstt {
    --l: initial;
    --t: initial;
    --v: hidden;
	font-size: 9pt;
	left: var(--l);
	max-width: 400px;
	padding: 5px;
	position: absolute;
	top: var(--t);
	visibility: var(--v);
	z-index: 100;
}

/* option button and panel */
.searchnav > div:last-child {
	align-items: center;
	column-gap: 5px;
	display: flex;
	justify-content: flex-end;
}
.ttoptb {
	cursor: pointer;
	height: 16px;
	position: relative;
	width: 16px;
}
#ttopt {
    cursor: auto;
    font-size: 9pt;
    padding: 8px;
    position: absolute;
    right: 28px;
    text-align: left;
	top: -5px;
    visibility: hidden;
    width: max-content;
	z-index: 1;
}
.ttoptb:hover > #ttopt {
	visibility: visible;
}
#ttopt::after {
    border-bottom-color: transparent;
    border-left-color: inherit;
    border-right-color: transparent;
    border-top-color: transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
	left: 100%;
    position: absolute;
    top: 3px;
}
#ttopt fieldset {
    margin-bottom: 5px;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}
#ttopt input[type="checkbox"] {
	margin-right: 6px;
}
#ttopt > span {
    color: var(--bdca);
    display: block;
    margin-top: 12px;
    text-align: center;
}

/* fix for selects slightly too small */
.searchnav select {
	width: fit-content;
}
